*{
    margin: 20px;
    padding: 20px;
}

body {
    background: rgb(214, 195, 195);
    color: rgb(245, 245, 245);
}

h1 {
    color: rgb(75, 71, 65);
    font-size: 150px;
    padding: 50px;
    border-width: 5px;
    border-style:solid ;
    border-radius: 50px;
    background-color:rgba(97, 19, 19, 0.219);
    text-shadow: 5px, 5px 10px rgb(255, 48, 48);
}
p {
    color: rgb(100, 67, 67);
    font-size: 180px;
    padding: 180px;
    margin-top: 90px;
    background-color: rgb(158, 140, 117);

}

/* Selector Class */

.text-center{ 
    text-align: center;
    margin-top: 25px;
}

#github {
    background-color: rgb(182, 179, 185);
    color: rgb(8, 8, 8);
    padding: 10px 20px;
    border-radius: 20px;
}